<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCslYQY-HipYwFY-Fj8vPx-KplwUEAwgA4</string>
	<key>GCM_SENDER_ID</key>
	<string>547283315764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appfirebase.appfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>william-appfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>william-appfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547283315764:ios:406de974212bbf821b6e61</string>
</dict>
</plist>